project:
  type: website
  output-dir: docs

website:
  title: "orcaIntranetWebsite"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  sidebar: 
    contents: 
      - section: "ORCA Database"
        contents: orcaDatabase/orcaDatabaseMain
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

